
// https://coolors.co/palette/0b132b-1c2541-3a506b-5bc0be-ffffff
// Don't use these
$_c1: #FFFFFF; // white
$_c2: #0B132B; // dark
$_c3: #3A506B; // subtext
$_c4: #5BC0BE; // highlight
$_c5: #1C2541; // lowlight
