
@import './assets/palettes/palette';

// button colors
$buttonColor: $Plowlight;
$buttonHover: $Phighlight;
$topButtonHover: $PtextLight;

// text colors light theme
$titleColor: $PtextLight;
$textColor: $PtextLight;
$subTitle: $PtextLight;
$cardSubtitle: $Psubtext;
$talkCardSubTitle: $Psubtext;
$blogCardTitleColor: $PtextLight;

// text color dark theme
$textColorDark: $PtextDark;

// toggle switch colors
$toggleCheck: $Phighlight;
$toggleSwitchSliderBG: $Psubtext;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #6c63ff;

// light background colors
$lightBackground1: $PbgLight;
$lightBackground2: $lightBackground1;
$lightBackground3: $lightBackground1;
$blogCardContainerColor: $Psubtext;
// dark background colors
$darkBackground: $PbgDark;

// light theme box shadows
$lightBoxShadowDark: $Plowlight;
$lightBoxShadow: $Psubtext;
$lightBoxShadowDarker: $PtextLight;

// dark theme box shadows
$darkBoxShadow: $Psubtext;
$darkBoxShadow2: $Psubtext;

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
	rgba(0, 0, 0, 0.4),
	rgba(0, 0, 0, 0.2)
);
$experienceCardBannerLG: linear-gradient(
	rgba(0, 0, 0, 0.7),
	rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: $Psubtext;
$lightBorder1: $PbgDark;
$educationCardBorder: $Plowlight;

// hovers
$achievementCertificateCardHoverDark: $Phighlight;
$blogCardHoverSmallColor: $Phighlight;
$headerHoverBG: $Psubtext;
$contactDetailHoverTS: $Phighlight;

// misc backgrounds
$progressBarSpanBG: $Plowlight;
$iconBackground: $Plowlight;
$appHeaderBG: $Plowlight;

// misc colors
$skillsColor: $Psubtext;
$appLink: $Phighlight;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;
